<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.junhyuk.sjsu_client">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SelectSportsActivity">
        </activity>

        <activity android:name=".RealMainActivity">
        </activity>

        <activity android:name=".SignUpActivity">
        </activity>

        <activity android:name=".SelectRoomActivity">
        </activity>

        <activity android:name=".FriendViewActivity">
        </activity>

        <activity android:name=".HostGameInitActivity">
        </activity>

        <activity android:name=".HostGame1Activity">
        </activity>

        <activity android:name=".HostGame2Activity">
        </activity>

        <activity android:name=".HostGame3Activity">
        </activity>

        <activity android:name=".HostGameReady4Activity">
        </activity>

        <activity android:name=".UpComing1Activity">
        </activity>

        <activity android:name=".UpComing2Activity">
        </activity>

        <activity android:name=".AlarmPageActivity">
        </activity>

        <activity android:name=".FitnessPageActivity">
        </activity>

        <activity android:name=".JudgePageActivity">
        </activity>

        <activity android:name=".FriendListActivity">
        </activity>

        <activity android:name=".PopUpActivity"/>
    </application>

</manifest>
